<p>Menu Bar</p>
<div class="row">
  <nav>
    <div class="col-2">
      <a routerLink="/home">Home</a>
    </div>
    <div class="col-2">
      <a routerLink="/colaborators">Colaborators</a>

    </div>
    <div class="col-2">
      <a routerLink="/projects">Projects</a>

    </div>
    <div class="col-2">
      <a routerLink="/holidays">Holidays</a>

    </div>
    <div class="col-2">
      <a routerLink="/associations">Associations</a>

    </div>
    <div class="col-2">

    </div>
  </nav>

</div>
